{{ template "head" }}
<body>
    <div class="container">
    <div class="page-header text-center">
      <h1 class="">ボトルメール</h1>
      <hr>
    </div>
    <p class="text-center">ボトルメールを送ってみませんか?</p>
    <p class="text-center">代わりに誰かのメッセージが届きます (・ω・)</p>    
    <form  method="POST" action="./send">
        <div class="form-group">
        名前
        <input name="name" class="border border-dark form-control" type="text" placeholder="もた">
        </div>
        <div class="form-group">
        内容
        <input name="content" class="border border-dark form-control" type="text" placeholder="やっほー！">
        </div>
        <button class="btn btn-outline-primary" type="submit">メッセージを送る</button>
    </form>
    </div>
</body>
{{ template "foot" }}