<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ボトルメール</title>
</head>
<body>
    <h1>ボトルメール</h1>
    <p class="top-message">めっせーじ を おくってみませんか?</p>
    <p class="top-message">かわりに だれかの めっせーじ が とどきます</p>    
    <form  method="POST" action="./send">
        おなまえ
        <input name="name" type="text" >
        ないよう
        <input name="content" type="text" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">おくる</button>
    </form>
</body>
</html>
