{{ template "head" }}
<body>
    <div class="container">
        <div class="page-header text-center">
            <h1 class="text-center">みんなのメッセージ</h1>
            <hr>
        </div>    
    <a href="/" class="btn btn-outline-primary">もう一度メッセージを送る</a>
    {{ range $index, $post := .posts }}
    <!-- {{ $index }}  -->
    <p>
    <div class="list-group">
    <div class="list-group-item bg-secondary text-light">{{ $index }} 通目 </div>
    <div class="list-group-item">名前 : {{ $post.Name }}</div>
    <div class="list-group-item">内容 : {{ $post.Content}}</div>    
    </div>
    </p>
    {{ end }}
    <a href="/" class="btn btn-outline-primary">もう一度メッセージを送る</a>
    </div>
</body>
{{ template "foot" }}